/* Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body { 
    background-color: #FFFFFF;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

nav, header, section, #lower_area { 
    background-color: #F2F4F8;
}

header {
    background-color: white;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

 /* mobile styles */

 #container {
    margin: 10px;
}

p {
    padding: 10px;
}

h1, h2, h3, p {
    text-align: center;
}

nav {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    margin: 10px 0;
    height: 30px;
    line-height: 40px;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}

header {
    padding: 20px;
}

header img {
    width: 20%;
}

section {
    margin: 10px 0;
    padding: 10px;
    display: flex;
}


#multi_col img {
    width: 100%;
}

.col {
    margin: 10px 0;
    padding: 10px;
}

.column {
    margin: 10px;
    padding: 10px;
    border-bottom: 4px solid #FAF9F4;
}

.column img {
    width: 100%;
}

#lower_area {
    padding: 10px;
    display: flex;
}

footer {
    padding: 40px 0;
    text-align: center;
    margin-top: 10px;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

/* Tablet Styles */
@media (min-width: 768px) {

    nav {
        padding: 20px;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 120px;
        border-radius: 10px;
    }

    #multi_col {
        display: flex;
    }

    #multi_col img {
        width: 100%;
    }

    .col {
        padding: 40px;
        width: 200%;
    }

    .col_text {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .column img {
        width: 90%;
    }

    #lower_area img {
        width: 100%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {

    #container {
        width: 75%;
        margin: 0 auto;
    }

    .column img {
        width: 100%;
    }  
    
    #multi_col img {
        width: 100%;
    }
}    